
/*
h1{color:#918E87; font-size:22px;margin:20px; font-variant:small-caps;margin-top: 40px;}
h2, h3{color:#ccc; font:14px Georgia, Arial, Helvetica, sans-serif;}
*/
h3 {text-align: center}
.quadra{background:#fff; margin:0 auto; padding:12px;text-align: left; padding-left:20%;}
.poemfooter {background: #5D7BC1; padding:10px; color:#fff }
.poemfooter h5 {color:#fff}
