body {
width:100% !important;
margin:0 !important;
padding:0 !important;
font-family:"Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
color:#000;
background:none;
font-size:10pt;
border:0;
line-height: 1.4;
word-spacing:1.1pt;
letter-spacing:0.1pt; 
}

/* Hide Layout */
#navcontainer, #hdr, .footnote, .contactos li img {display:none;}
#content, #footer, #booty{width:100%;border:0;}

/*Headings */
h1,h2,h3,h4,h5,h6 {
font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h2{font-weight:bold}
code {
font:.9em "Courier New", Monaco, Courier, monospace;
}
blockquote {
font-style:italic;
font-size:.9em;
margin:1.5em;
padding:1em;
}
.small {
font-size:.9em;
}
.large {
font-size:1.1em;
}

/* Images */
img { float: left; margin: 1em 1.5em 1.5em 0; }
a img { border: none; }
.photo{background:none; padding:0; margin:0}

/* Links */
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline;color:#333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }
a[href^="http://"] {color:#000; }


/* Misc */
.wrap {
background:none;
page-break-before:auto;
page-break-after:avoid;
}
hr {
background:#ccc;
color:#ccc;
width:100%;
height:2px;
border:none;
margin:2em 0;
padding:0;
}
.hide {
display:none;
}

@page:left {/* properties declared here */
page-break-before:auto;
page-break-after:avoid;}
@page:right{/* properties declared here */}
